.zonesLayoutContainer {
    display: grid;
    grid-template-columns: 358px 1fr;
    height: calc(100vh - 220px);
    border: 1px solid black;
}

.leftSidebar {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-right: 1px solid;
}




/** left side bar */

.titleBox {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox span {
    font-family: 'DIN-Bold';
    font-size: 4rem;
}

.titleBox p {
    font-family: 'DIN-Regular';
    font-size: 1.5rem;
}

.topContainer .submit {
    background-color: #038487;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'DIN-Bold';
    font-size: 1.5rem;
    color: white;
    height: 5.4rem;
}

.topContainer .submit img {
    padding-right: 8px;
}

.zoneContainer {
    padding: 3.2rem 4.5rem;
}

.zoneContainer h3 {
    margin-top: 2rem;
    font-family: 'DIN-Condensed';
    font-size: 2.6rem;
}

.zoneMetaContainer {
    margin-top: 2rem;
}

.zoneMeta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* pages */

.pageContainer {
    padding: 5.8rem;
    width: 100%;
    height: calc(100vh - 220px);
    border: 1px solid black;
    overflow-y: scroll;
}

.accountSectionContainer {
    /* padding: 5.8rem; */
    width: 100%;
    height: calc(100vh - 220px);
    border: 1px solid black;
    overflow-y: scroll;
}

.pageTitle {
    margin-bottom: 3rem;
    /* padding-left: 0.8rem; */
    font-size: 1.8rem;
    font-family: 'DIN-Bold';
    letter-spacing: 0.8rem;
}

.text {
    font-size: 1.4rem;
    font-family: 'Interstate-Light';
}

.profileName {
    font-family: 'DIN-Regular';
    font-size: 1.8rem;
    color: #344093;
    letter-spacing: 0.8rem;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.4rem;
    font-family: 'Interstate-Light';
    margin-left: 1.8rem;
}

.info img {
    width: 17px;
}

.profileInfoContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileInfoContainer a, .surveyContainer a {
    font-size: 1.5rem;
    font-family: 'DIN-bold';
    border: 1px solid #1A8487;
    width: 12.6rem;
    height: 3.9rem;
    color: #1A8487;
    line-height: 3.9rem;
    text-align: center;
}

.profileSurveysSection {
    padding: 4rem 5.8rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.surveysTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.surveysTop a {
    background-color: #1A8487;
    color: 'white';
    font-family: 'DIN-Bold';
    font-size: 1.5rem;
    color: white;
    width: 15.3rem;
    height: 3.9rem;
    text-align: center;
    line-height: 3.9rem;
}

.surveyContainer {
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    align-items: center;
}

.surveyWrapper {
    background-color: #F9f9f9;
    padding: 2rem;
    margin-bottom: 1.4rem;
}

.surveyWrapper h3 {
    font-family: 'DIN-Regular';
    font-size: 1.8rem;
}

.detail span {
    color: #344093;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'DIN-Regular';
    font-size: 1.4rem;
    width: 250px;
}

.surveyContainer .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* TABLE STYLES */

.tableContainer {
    padding-top: 10rem;
    overflow: scroll;;
    height: 100%;
    width: 100%;
}

.table {
    width:100%;
}

.table thead {
    font-family: 'DIN-Bold';
    font-size: 1.4rem;
}

.table thead td {
    border-right: 1px solid;
    border-bottom: 1px solid;

    padding: 2rem;
}

.table tbody td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 2rem;
    font-family: 'DIN-Regular';
    font-size: 1.4rem;
}

.table tbody td p {
    margin-bottom: 1rem;;
}

.table tbody td span {
    font-family: 'DIN-Bold' !important;
    font-size: 1.4rem !important;
    color: #038487;
}

/** Extra expandable data */
/* animated */
.zoneExpandableContainer {
    animation-duration: 0.8s;
    animation-name: slide;
    /* animation-timing-function: ; */
     transition: all 1s ease-in-out;
     overflow-y:scroll;
}

@keyframes slide {
    from { height: 0px;  }
    to { height: 500px}
}

.headerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 2.5rem;

}

.squareBox{
    height: 0.7rem;
    width: 0.7rem;
    margin-right: 0.8rem;
}

.blueBg{ background-color: #344093;}
.greenBg{ background-color: #038487;}
.blueText{ color: #344093;}
.greenText{ color: #038487;}

.headerSection h2 {
    font-family: 'DIN-Bold';
    font-size: 1.6rem;
}

.optionsContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.optionsContainer p {
    font-family: 'DIN-Bold';
    font-size: 1.4rem;
}


.option {
    margin-left: 2rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.expandableData {

}

.dataItem {
    margin-bottom: 2rem;
}

.dataItem p {
    font-family: 'DIN-Regular';
    font-size: 1.4rem;
}

.dataBarContainer {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.dataNumbers {
    font-family: 'DIN-Bold' !important;
    font-size: 1.4rem;
}

.barContainer {
    width: 100%;
    display:flex;
    flex-direction: row;
    padding:0px 5px;

}

.bar {
    height: 5px;
}

.marginRight{ margin-right: 4px;}



